:root {
    font-size: 18px;
    font-family: "Open Sans";
    --text-primary: #7fc8f8;
    --text-secondary: #5aa9e6;
    --bg-primary: #0e1c36;
    --bg-secondary: #52489c;
    --wild-color: #faebd7;
}

* {
    margin: 0;
    max-width: 100%;
}

.App {
    background-color: var(--wild-color);
    height: 400vh;
    width: 100vw;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #40ffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: aqua;
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--bg-primary);
    color: var(--text-primary);
    /* z-index: 100; */
}

.Navbar div {
    padding: 20px 40px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 15px;
    z-index: 999999 !important;
    /* TODO Make the div spin */
}

.Navbar div:hover {
    background-color: var(--bg-secondary);
}

.Navbar .logo {
    transition: 9s ease-in-out !important;
}

.Navbar .logo:hover {
    background-color: rgb(31, 255, 1, 0);
    transform: rotate(720deg);
}

main {
    top: 100vh;
}

section {
    padding-top: 80px;
}
